@import "src/styles/variables.scss";

.main_container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: $header-color;
  min-height: 810px;

  .no_restaurants {
    &_container {
      flex-direction: column;
      align-items: center;
    }

    &__heading_one,
    &__heading_two {
      margin: 0 0 20px 0;
      font-weight: 500;
    }

    &__logo {
      width: 100%;
      max-width: 400px;
      margin: 40px 0;
    }
  }

  .restaurants {
    &_container {
      flex-direction: column;
      align-items: center;
    }

    &__filter {
      margin: 25px 0;
      
      &__input {
        min-height: 40px;
        padding: 0 10px;
        border: 1px solid $theme5;
        border-radius: 10px;
      }
    }

    &__list {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 25px 25px;
      max-width: 1080px;
    }
  }
}

@media (max-width: 1000px) {
}

@media (max-width: 500px) {
  .no_restaurants {
    &_container {
      padding: 0 20px;
    }
  }
}
