@import "src/styles/variables.scss";

.footer {
  &_container {
    flex-direction: row-reverse;
    font-size: 0.9em;
    padding: 0 25px;
    background-color: $theme2;
    color: rgba(0, 0, 0, 0.6);
  }

  &__text {
    margin: 10px 0;
  }
}
